:root {
  /* typography */
  --medium: 500;
  --bold: 700;

  /* colors */
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Plus Jakarta Sans', serif;
  font-optical-sizing: auto;
  font-weight: var(--medium);
  font-style: normal;
  font-size: 1em; /* 16px */
  line-height: 1.5;
  color: var(--Slate-900);
  background-color: var(--Slate-100);
  height: 100vh;
  margin: 0;
}
#root {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold);
  margin: 0;
}
p {
  font-weight: var(--medium);
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  @media (min-width: 768px) {
    padding: 3rem 2.5rem;
  }
  @media (min-width: 1400px) {
    width: 80rem;
    padding: 5.5rem 2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  @media (min-width: 992px) {
    flex-direction: row;
    margin-bottom: 3rem;
  }
}

.footer {
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.footer p {
  font-size: 0.75rem;
  margin: 0;
}
.footer a {
  color: var(--Slate-900);
}
